#thumbnails{
  background-color: beige;
  padding: 20px;
  align-items: center;
}
.margin-none{
  margin-bottom: 1px;
}
.row{
  margin-bottom: 10px;
}
.pizza-crust, .pizza-toppings{
  margin-top: 5px;
}